files: \.py$

repos:
-   repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
    -   id: autoflake
        args: [--in-place]
-   repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
    -   id: isort
        args: [--thirdparty, neo4j]
-   repo: https://github.com/hhatto/autopep8
    rev: v2.3.2
    hooks:
    -   id: autopep8
-   repo: https://github.com/PyCQA/docformatter
    rev: v1.7.7
    hooks:
    -   id: docformatter
        args: [--in-place, --wrap-summaries, '88', --wrap-descriptions, '88']
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: double-quote-string-fixer
    -   id: mixed-line-ending
        args: ['--fix', 'lf']
    -   id: trailing-whitespace
-   repo: https://github.com/PyCQA/flake8
    rev: 7.3.0
    hooks:
    -   id: flake8
