{
    "peeringdb": {
        "apikey": ""
    },

    "cloudflare":{
        "apikey": ""
        "userid": "",
        "authemail": "",
        "authkey": ""
    },

    "iyp": {
        "crawlers": [
            "iyp.crawlers.manrs.members",
            "iyp.crawlers.ripe.as_names",
            "iyp.crawlers.bgptools.as_names",
            "iyp.crawlers.apnic.eyeball",
            "iyp.crawlers.caida.asrank",
            "iyp.crawlers.ihr.country_dependency",
            "iyp.crawlers.bgpkit.pfx2asn",
            "iyp.crawlers.bgpkit.as2rel",
            "iyp.crawlers.bgpkit.peerstats",
            "iyp.crawlers.nro.delegated_stats",
            "iyp.crawlers.ripe.roa",
            "iyp.crawlers.ihr.local_hegemony",
            "iyp.crawlers.ihr.rov",
            "iyp.crawlers.bgptools.tags",
            "iyp.crawlers.stanford.asdb",
            "iyp.crawlers.peeringdb.org",
            "iyp.crawlers.peeringdb.fac",
            "iyp.crawlers.peeringdb.ix",
            "iyp.crawlers.cloudflare.top100",
            "iyp.crawlers.tranco.top1M"
            "iyp.crawlers.openintel.tranco1m",
            "iyp.crawlers.cloudflare.dns_top_locations",
            "iyp.crawlers.cloudflare.dns_top_ases",
            "iyp.crawlers.citizenlab.urldb"
        ]
    },

    "post": [
        "iyp.post.ip2prefix",
        "iyp.post.address_family"
    ]
}
