{
    "archive": {
        "host": "",
        "user": "",
        "base_path": ""
    },

    "cache": {
        "directory": "tmp/",
        "duration_in_days": 6
    },

    "peeringdb": {
        "apikey": ""
    },

    "cloudflare":{
        "apikey": "",
        "userid": "",
        "authemail": "",
        "authkey": ""
    },

    "email": {
        "email_address": "",
        "smtp_server": "",
        "smtp_port": "",
        "username": "",
        "password": ""
    },

    "ipinfo": {
        "token": ""
    },

    "pch": {
        "parallel_downloads": 8,
        "parallel_parsers": 40
    },

    "openintel": {
        "access_key": "",
        "secret_key": ""
    },

    "ooni": {
        "parallel_downloads": 40
    },

    "iyp": {
        "crawlers": [
            "iyp.crawlers.ripe.as_names",
            "iyp.crawlers.bgptools.as_names",
            "iyp.crawlers.apnic.eyeball",
            "iyp.crawlers.caida.asrank",
            "iyp.crawlers.caida.as_relationships_v4",
            "iyp.crawlers.caida.as_relationships_v6",
            "iyp.crawlers.ihr.country_dependency",
            "iyp.crawlers.bgpkit.pfx2asn",
            "iyp.crawlers.bgpkit.as2rel_v4",
            "iyp.crawlers.bgpkit.as2rel_v6",
            "iyp.crawlers.bgpkit.peerstats",
            "iyp.crawlers.nro.delegated_stats",
            "iyp.crawlers.ripe.roa",
            "iyp.crawlers.ihr.local_hegemony_v4",
            "iyp.crawlers.ihr.local_hegemony_v6",
            "iyp.crawlers.ihr.rov",
            "iyp.crawlers.bgptools.tags",
            "iyp.crawlers.bgptools.anycast_prefixes",
            "iyp.crawlers.virginiatech.rovista",
            "iyp.crawlers.stanford.asdb",
            "iyp.crawlers.peeringdb.org",
            "iyp.crawlers.peeringdb.fac",
            "iyp.crawlers.peeringdb.ix",
            "iyp.crawlers.caida.ixs",
            "iyp.crawlers.caida.ix_asns",
            "iyp.crawlers.caida.as2org",
            "iyp.crawlers.cloudflare.top100",
            "iyp.crawlers.tranco.top1m",
            "iyp.crawlers.openintel.tranco1m",
            "iyp.crawlers.openintel.umbrella1m",
            "iyp.crawlers.openintel.crux",
            "iyp.crawlers.openintel.infra_ns",
            "iyp.crawlers.cisco.umbrella_top1m",
            "iyp.crawlers.citizenlab.urldb",
            "iyp.crawlers.inetintel.as_org",
            "iyp.crawlers.pch.daily_routing_snapshots_v4",
            "iyp.crawlers.pch.daily_routing_snapshots_v6",
            "iyp.crawlers.emileaben.as_names",
            "iyp.crawlers.ripe.atlas_probes",
            "iyp.crawlers.ripe.atlas_measurements",
            "iyp.crawlers.alice_lg.amsix",
            "iyp.crawlers.alice_lg.bcix",
            "iyp.crawlers.alice_lg.decix",
            "iyp.crawlers.alice_lg.ixbr",
            "iyp.crawlers.alice_lg.linx",
            "iyp.crawlers.alice_lg.megaport",
            "iyp.crawlers.alice_lg.netnod",
            "iyp.crawlers.ipinfo.ip_country",
            "iyp.crawlers.worldbank.country_pop",
            "iyp.crawlers.simulamet.rirdata_rdns",
            "iyp.crawlers.google.crux_top1m_country",
            "iyp.crawlers.openintel.dnsgraph_nl",
            "iyp.crawlers.openintel.dnsgraph_rdns",
            "iyp.crawlers.cloudflare.dns_top_locations",
            "iyp.crawlers.cloudflare.dns_top_ases",
            "iyp.crawlers.ooni.facebookmessenger",
            "iyp.crawlers.ooni.httpheaderfieldmanipulation",
            "iyp.crawlers.ooni.httpinvalidrequestline",
            "iyp.crawlers.ooni.osignal",
            "iyp.crawlers.ooni.psiphon",
            "iyp.crawlers.ooni.riseupvpn",
            "iyp.crawlers.ooni.stunreachability",
            "iyp.crawlers.ooni.telegram",
            "iyp.crawlers.ooni.tor",
            "iyp.crawlers.ooni.torsf",
            "iyp.crawlers.ooni.vanillator",
            "iyp.crawlers.ooni.webconnectivity",
            "iyp.crawlers.ooni.whatsapp"
        ],

        "post": [
            "iyp.post.ip2prefix",
            "iyp.post.address_family",
            "iyp.post.country_information",
            "iyp.post.url2hostname"
        ]
    }
}
