services:
  iyp_loader:
    image: neo4j/neo4j-admin:5.26.2-community-debian
    profiles: ["local", "public_tls", "public_notls", "mcp"]
    user: "${uid}:${gid}"
    container_name: iyp_loader
    tty: true
    stdin_open: true
    volumes:
      - ./data:/data
      - ./dumps:/dumps
    command: neo4j-admin database load neo4j --from-path=/dumps --verbose

  iyp:
    image: neo4j:5.26.3
    profiles: ["local"]
    user: "${uid}:${gid}"
    container_name: iyp
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./data:/data
    environment:
      - NEO4J_AUTH=neo4j/password
    depends_on:
      iyp_loader:
        condition: service_completed_successfully

  iyp_readonly_tls:
    image: neo4j:5.26.3
    profiles: ["public_tls"]
    user: "${uid}:${gid}"
    container_name: iyp
    restart: unless-stopped
    ports:
      - 7473:7473
      - 7687:7687
    volumes:
      - ./data:/data
      - ./public/certificates:/ssl
      - ./public/conf_tls:/conf
      - ./public/logs:/logs
    environment:
      - NEO4J_AUTH=neo4j/password
    depends_on:
      iyp_loader:
        condition: service_completed_successfully

  iyp_readonly_notls:
    image: neo4j:5.26.3
    profiles: ["public_notls"]
    user: "${uid}:${gid}"
    container_name: iyp
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./data:/data
      - ./public/conf_notls:/conf
      - ./public/logs:/logs
    environment:
      - NEO4J_AUTH=neo4j/password
    depends_on:
      iyp_loader:
        condition: service_completed_successfully

  caddy:
    image: caddy:latest
    profiles: ["caddy"]
    user: "${uid}:${gid}"
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "2019:2019"
    environment:
      - CADDY_ADMIN=0.0.0.0:2019
    volumes:
      - ./site:/srv
      - caddy_data:/data
      - caddy_config:/config
    command: /usr/bin/caddy run --resume

  iyp_apoc:
    image: neo4j:5.26.3
    profiles: ["mcp"]
    user: "${uid}:${gid}"
    container_name: iyp
    restart: unless-stopped
    ports:
      - 7474:7474
      - 7687:7687
    volumes:
      - ./data:/data
    environment:
      - NEO4J_AUTH=neo4j/password
      - NEO4J_PLUGINS=["apoc"]
    depends_on:
      iyp_loader:
        condition: service_completed_successfully

  iyp_mcp_neo4j:
    image: mcp/neo4j-cypher:latest
    profiles: ["mcp"]
    user: "${uid}:${gid}"
    container_name: iyp_mcp_neo4j
    ports:
      - '8001:8000'
    environment:
      - NEO4J_URI=bolt://iyp_apoc:7687
      - NEO4J_USERNAME=neo4j
      - NEO4J_PASSWORD=password
      - NEO4J_DATABASE=neo4j
      - NEO4J_TRANSPORT=http
      - NEO4J_MCP_SERVER_HOST=0.0.0.0 # must be 0.0.0.0 for sse  or http transport in Docker
      - NEO4J_MCP_SERVER_PORT=8000
      - NEO4J_MCP_SERVER_PATH=/api/mcp/
      - NEO4J_NAMESPACE=local
    depends_on:
      - iyp_apoc

  iyp_mcp_doc:
    image: python:3.12-slim-trixie
    profiles: ["mcp"]
    container_name: iyp_mcp_doc
    working_dir: /app
    volumes:
      - ./:/app:ro       
    ports:
      - '8002:8002'
    command: bash -c "pip install pandas 'mcp[cli]' pydantic && python -m mcp_server.server"
      
volumes:
  caddy_data:
  caddy_config:
