name: Pre-commit CI

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version-file: '.python-version'
        cache: 'pip'

    - name: Install dependencies
      run: pip install -r requirements.txt

    - name: pre-commit
      uses: pre-commit/action@v3
